<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Marvel Story</title>
    <link rel="stylesheet" href="/assets/home.css">
  </head>
  <body>
    <div class="header">
      <h3>Marvel Stories</h3>
      <h1>Storm</h1>
    </div>
  </body>
</html>